<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>视图测试</title>
    </head>
    <body>
        <a th:href="@{/testThymeleafView}">测试ThymeleafView</a>
        <br />
        <a th:href="@{/testForward}">测试InternalResourceView</a>
        <br />
        <a th:href="@{/testRedirect}">测试RedirectView</a>
        <br />
    </body>
</html>
