<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserMapper">
    <!-- association级联属性 -->
    <!-- 按照结果嵌套处理 -->
    <resultMap id="userResultMap" type="user">
        <result column="user_id" property="id"/>
        <result column="uk_uname" property="uname"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <association property="department" javaType="department">
            <result column="dept_id" property="id"/>
            <result column="uk_dept_name" property="departmentName"/>
        </association>
    </resultMap>
    <!--
    <select id="getAllUsers" resultMap="userResultMap">
        SELECT tu.pk_id user_id, tu.uk_uname uk_uname, tu.password password, tu.email email,
        td.pk_id dept_id, td.uk_dept_name uk_dept_name
        FROM `user` tu , `dept` td WHERE tu.dept_id=td.pk_id
    </select>
     -->
    <!-- 按照查询嵌套处理 -->
    <resultMap id="userResultMap2" type="user">
        <result column="pk_id" property="id"/>
        <result column="uk_uname" property="uname"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <association column="dept_id" property="department" select="dao.DeptMapper.getDepartmentById"/>
    </resultMap>

    <select id="getAllUsers" resultMap="userResultMap2">
        SELECT * FROM `user`
    </select>

    <select id="getUserById" resultMap="userResultMap">
        SELECT * FROM `user` WHERE pk_id = #{id}
    </select>

    <!-- 分页查询 -->
    <select id="getUserByLimit" parameterType="map" resultMap="userResultMap">
        SELECT * FROM `user` LIMIT #{startIndex}, #{pageSize}
    </select>

    <insert id="saveUser" parameterType="user">
        INSERT INTO `user`(`pk_id`,`uk_uname`,`password`,`email`)
        VALUES(#{id}, #{uname}, #{password}, #{email})
    </insert>
    <!--
    <update id="updateUser" parameterType="pojo.User">
        UPDATE `user` SET `uname`=#{uname}, `password`=#{password}, `email`=#{email}
        WHERE `id`=#{id}
    </update>
     -->
    <update id="updateUser" parameterType="map">
        UPDATE `user` SET `uk_uname`=#{uname}, `password`=#{password}, `email`=#{email}
        WHERE `pk_id`=#{id}
    </update>
</mapper>