<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>首页</title>
    </head>
    <body>
        <h1>欢迎访问首页</h1>
        <br />
        <!-- <a th:href="@{/testRESTful}">测试RESTful</a> -->
        <br />
        <form th:action="@{testRequestBody}" method="POST">
            姓名：<input type="text" name="username" /><br />
            密码：<input type="text" name="password" /><br />
            <input type="submit" value="测试@RequestBody" />
        </form>
        <hr />
        <form th:action="@{testRequestEntity}" method="POST">
            姓名：<input type="text" name="username" /><br />
            密码：<input type="text" name="password" /><br />
            <input type="submit" value="测试RequestEntity" />
        </form>
        <hr />
        <a th:href="@{/testResponse}">通过ServletAPI的response对象响应浏览器</a>
        <br />
        <a th:href="@{/testResponseBody}">通过@ResponseBody响应浏览器</a>
        <br />
        <a th:href="@{/testResponseObject}">通过@ResponseBody响应浏览器对象</a>
        <div id="app">
            <a @click="testAxios" th:href="@{/testAxios}">SpringMVC处理ajax</a>
        </div>

        <script th:src="@{/static/js/vue.js}"></script>
        <script th:src="@{/static/js/axios.min.js}"></script>
        <script>
            new Vue({
                el: "#app",
                methods: {
                    testAxios: function (event) {
                        axios({
                            method: "post",
                            url: event.target.href,
                            params: {
                                username: "admin",
                                password: "12345",
                            },
                        }).then(function (response) {
                            alert(response.data);
                        });
                        event.preventDefault();
                    },
                },
            });
        </script>
    </body>
</html>
