<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            crossorigin="anonymous"
        />

        <link th:href="@{/static/css/crud.css}" rel="stylesheet" />
    </head>
    <title>首页</title>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">
                <img
                    class="img-circle"
                    th:src="@{/static/img/kunlun.png}"
                    alt="KunLun"
                    width="32"
                    height="32"
                />
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <form class="form-inline my-2 my-md-0">
                <input
                    class="form-control-sm"
                    type="text"
                    placeholder="Search"
                    aria-label="Search"
                />
            </form>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"
                            >示例首页 <span class="sr-only">(current)</span></a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">员工信息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">部门列表</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="dropdown01"
                            data-toggle="dropdown"
                            aria-expanded="false"
                            >其他技术</a
                        >
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Spring</a>
                            <a class="dropdown-item" href="#">SpringMVC</a>
                            <a class="dropdown-item" href="#">MyBatis</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">欢迎访问CRUD示例首页</h1>
                    <p>KunLun Software Center http://www.kunlun.org</p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="#" role="button"
                            >了解更多</a
                        >
                    </p>
                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <h2>查询员工信息</h2>
                        <p>
                            CRUD员工信息查询操作，主要包括员工姓名、性别、邮箱及部门
                        </p>
                        <p>
                            <a
                                class="btn btn-secondary"
                                th:href="@{/employees/1}"
                                role="button"
                                >员工信息列表</a
                            >
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>查询部门信息</h2>
                        <p>CRUD部门信息查询操作，主要包括部门序号、部门名</p>
                        <p>
                            <a
                                class="btn btn-secondary"
                                th:href="@{/departments/1}"
                                role="button"
                                >部门信息列表</a
                            >
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>测试功能</h2>
                        <p>
                            其他功能正在添加，需要在工作之余不断努力学习，开发新功能
                        </p>
                        <p>
                            <a
                                class="btn btn-secondary"
                                th:href="@{/list_employees_ajax}"
                                role="button"
                                >正在测试</a
                            >
                        </p>
                    </div>
                </div>

                <hr />
            </div>
            <!-- /container -->
        </main>

        <footer class="container">
            <p>&copy; Company 2017-2021</p>
        </footer>

        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            crossorigin="anonymous"
        ></script>
        <script>
            window.jQuery ||
                document.write(
                    '<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"><\/script>'
                );
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
