<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE beans [
        <!ELEMENT beans (bean*)>
        <!ELEMENT bean (property*)>
        <!ELEMENT property (#PCDATA)>

        <!ATTLIST bean id ID #REQUIRED>
        <!ATTLIST bean class CDATA #IMPLIED>
        <!ATTLIST property name CDATA #IMPLIED>
        <!ATTLIST property ref IDREF #IMPLIED>
        ]>
<beans>
<!--    DAO-->
    <bean id="userDAO" class="bookcity.dao.impl.UserDAOImpl"></bean>
    <bean id="bookDAO" class="bookcity.dao.impl.BookDAOImpl"></bean>
    <bean id="cartItemDAO" class="bookcity.dao.impl.CartItemDAOImpl"></bean>
    <bean id="orderDAO" class="bookcity.dao.impl.OrderDAOImpl"></bean>
    <bean id="orderItemDAO" class="bookcity.dao.impl.OrderItemDAOImpl"></bean>


<!--    Service-->
    <bean id="userService" class="bookcity.services.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"></property>
    </bean>

    <bean id="bookService"
          class="bookcity.services.impl.BookServiceImpl">
        <property name="bookDAO" ref="bookDAO"></property>
    </bean>

    <bean id="cartItemService"
          class="bookcity.services.impl.CartItemServiceImpl">
        <property name="cartItemDAO" ref="cartItemDAO"></property>
        <property name="bookService" ref="bookService"></property>
    </bean>

    <bean id="orderService"
          class="bookcity.services.impl.OrderServiceImpl">
        <property name="orderDAO" ref="orderDAO"></property>
        <property name="orderItemDAO" ref="orderItemDAO"></property>
        <property name="cartItemDAO" ref="cartItemDAO"></property>
    </bean>


<!--    Controller-->

    <bean id="page" class="bookcity.controllers.PageController"></bean>

    <bean id="user" class="bookcity.controllers.UserController">
        <property name="userService" ref="userService"></property>
        <property name="cartItemService" ref="cartItemService"></property>
    </bean>

    <bean id="book" class="bookcity.controllers.BookController">
        <property name="bookService" ref="bookService"></property>
    </bean>

    <bean id="cart" class="bookcity.controllers.CartController">
        <property name="cartItemService" ref="cartItemService"></property>
    </bean>

    <bean id="order" class="bookcity.controllers.OrderController">
        <property name="orderService" ref="orderService"></property>
    </bean>

</beans>