<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置Druid数据库连接池 -->
    <!-- 引入数据库连接池配置文件 -->
    <properties resource="druid.properties"></properties>

    <settings>
        <!-- 配置日志工具 -->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    
    <!-- <plugins> -->
    <!--     <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin> -->
    <!-- </plugins> -->
    
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- 配置数据库连接信息 -->
                <property name="driver" value="${jdbc.driverClassName}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

        <!-- 配置数据库连接信息 -->
        <!-- id必须与default一致 -->
        <!-- <environment id="mysql"> -->
        <!--     <transactionManager type="JDBC"/> -->
        <!--     <dataSource type="POOLED"> -->
        <!--         <property name="driver" value="com.mysql.cj.jdbc.Driver"/> -->
        <!--         <property name="url" value="jdbc:mysql://localhost:3306/test"/> -->
        <!--         <property name="username" value="root"/> -->
        <!--         <property name="password" value="mysql"/> -->
        <!--     </dataSource> -->
        <!-- </environment> -->
    </environments>

    <!-- 将sql映射文件一定要注册到全局配置文件(mybatis-config.xml) -->
    <mappers>
        <mapper resource="UserMapper.xml"/>
    </mappers>
</configuration>