<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>文件上传下载</title>
    </head>
    <body>
        <h1>测试文件上传下载</h1>
        <br />
        <a th:href="@{/testDownload}">测试文件下载</a>
        <br />
        <form
            th:action="@{/testUpload}"
            method="post"
            enctype="multipart/form-data"
        >
            图片：<input type="file" name="uploadFile" /><br />
            <input type="submit" value="上传" />
        </form>
    </body>
</html>
